name: Elixir CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup elixir
      uses: actions/setup-elixir@v1
      with:
        elixir-version: 1.11.x # Define the elixir version [required]
        otp-version: 23.2 # Define the OTP version [required]
    - name: Install Dependencies
      run: mix deps.get
    - name: Compile package
      run: mix deps.compile && mix compile
    - name: Run Tests
      run: mix test --exclude rsa:true